<div class="sidebar-title">Admin Panel</div>
<a href="{% url 'admin_dashboard' %}" class="{% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">Dashboard</a>
<a href="{% url 'user_list' %}" class="{% if request.resolver_match.url_name == 'user_list' %}active{% endif %}">Utilisateurs</a>
<a href="{% url 'student_list' %}" class="{% if request.resolver_match.url_name == 'student_list' %}active{% endif %}">Étudiants</a>
<a href="{% url 'teacher_list' %}" class="{% if request.resolver_match.url_name == 'teacher_list' %}active{% endif %}">Enseignants</a>
<a href="{% url 'subject_list' %}" class="{% if request.resolver_match.url_name == 'subject_list' %}active{% endif %}">Matières</a>
<a href="{% url 'admin_grades_stats' %}" class="{% if request.resolver_match.url_name == 'admin_grades_stats' %}active{% endif %}">Notes & Statistiques</a>