{% extends '../base.html' %}

{% block title %}Admin - Tableau de bord{% endblock %}

{% block content %}
    <div class="logout">
        <a href="{% url 'logout' %}" class="btn">Se déconnecter</a>
    </div>
    <h1>Bonjour {{ request.user.full_name }}</h1>
    <h2>Tableau de bord Administrateur</h2>
    <ul>
        <li><a href="#" class="btn">Gérer les utilisateurs</a></li>
        <li><a href="#" class="btn">Gérer les étudiants</a></li>
        <li><a href="#" class="btn">Gérer les enseignants</a></li>
        <li><a href="#" class="btn">Gérer les matières</a></li>
        <li><a href="#" class="btn">Voir les statistiques</a></li>
    </ul>
{% endblock %}
